# *******************************************************************
# CONFIGURATION TEMPLATE (EMBM + GOLDSTEIN + GOLDSTEIN SEA-ICE + ATCHEM + BIOGEM)
# *******************************************************************

# *******************************************************************
# GENIE COMPONENT SELECTION
# *******************************************************************
ma_flag_ebatmos=.TRUE.
ma_flag_goldsteinocean=.TRUE.
ma_flag_goldsteinseaice=.TRUE.
ma_flag_biogem=.TRUE.
ma_flag_atchem=.TRUE.
ma_flag_sedgem=.TRUE.
ma_flag_rokgem=.TRUE.
ma_flag_gemlite=.TRUE.

# *******************************************************************

# *******************************************************************
# GRID CONFIGURATION
# *******************************************************************
# Topography
ma_fname_topo='_rwlla'
# Set ATCHEM grid the same as GOLDSTEIN grid (but one vertical level)
GENIENXOPTS='-DGENIENX=18'
GENIENYOPTS='-DGENIENY=18'
GENIENLOPTS='-DGENIENL=1'
# Grid resolution
GENIENXOPTS='$(DEFINE)GENIENX=18'
GENIENYOPTS='$(DEFINE)GENIENY=18'
GOLDSTEINNLONSOPTS='$(DEFINE)GOLDSTEINNLONS=18'
GOLDSTEINNLATSOPTS='$(DEFINE)GOLDSTEINNLATS=18'
GOLDSTEINNLEVSOPTS='$(DEFINE)GOLDSTEINNLEVS=8'
# Specify the observational data and topography: EMBM
ea_topo='_rwlla'
ea_taux_u="_rwlla_taux_u.interp"
ea_tauy_u="_rwlla_tauy_u.interp"
ea_taux_v="_rwlla_taux_v.interp"
ea_tauy_v="_rwlla_tauy_v.interp"
ea_adv_u="_rwlla_u.silo"
ea_adv_v="_rwlla_v.silo"
# Specify the observational data and topography: GOLDSTEIN
go_topo='_rwlla'
# Specify the observational data and topography: GOLDSTEIN sea-ice
gs_topo='_rwlla'
#assumed longitudinal offset of the grid
gm_par_grid_lon_offset=-180.0
# Grid resolution of solid Earth components
SEDGEMNLONSOPTS='$(DEFINE)SEDGEMNLONS=18'
SEDGEMNLATSOPTS='$(DEFINE)SEDGEMNLATS=18'
ROKGEMNLONSOPTS='$(DEFINE)ROKGEMNLONS=18'
ROKGEMNLATSOPTS='$(DEFINE)ROKGEMNLATS=18'
# *******************************************************************

# *******************************************************************
# TRACER CONFIGURATION
# *******************************************************************
# Set number of tracers
GOLDSTEINNTRACSOPTS='$(DEFINE)GOLDSTEINNTRACS=14'
# Set selected tracers
gm_atm_select_3=.true.
gm_atm_select_4=.true.
gm_atm_select_6=.true.
gm_atm_select_16=.true.
gm_atm_select_10=.true.
gm_atm_select_11=.true.
gm_atm_select_16=.true.
gm_atm_select_10=.true.
gm_atm_select_11=.true.
gm_ocn_select_3=.true.
gm_ocn_select_4=.true.
gm_ocn_select_8=.true.
gm_ocn_select_10=.true.
gm_ocn_select_12=.true.
gm_ocn_select_15=.true.
gm_ocn_select_16=.true.
gm_ocn_select_20=.true.
gm_ocn_select_35=.true.
gm_ocn_select_38=.true.
gm_ocn_select_40=.true.
gm_ocn_select_50=.true.
gm_sed_select_3=.true.
gm_sed_select_4=.true.
gm_sed_select_8=.true.
gm_sed_select_14=.true.
gm_sed_select_15=.true.
gm_sed_select_22=.true.
gm_sed_select_32=.true.
gm_sed_select_33=.true.
gm_sed_select_34=.true.
gm_sed_select_36=.true.
# Set tracer initial values
ac_atm_init_3=278.0E-06
ac_atm_init_4=-6.5
ac_atm_init_6=0.2095
bg_ocn_init_3=2.244E-03
bg_ocn_init_4=0.4
bg_ocn_init_8=2.159E-06
bg_ocn_init_10=1.696E-04
bg_ocn_init_12=1.700E-03
bg_ocn_init_35=1.822E-02
bg_ocn_init_38=1.500E-02
bg_ocn_init_40=0.0
bg_ocn_init_50=2.989E-02
bg_ocn_init_67=0.0
bg_ocn_init_68=0.0
bg_ocn_init_72=0.0
# *******************************************************************

# *******************************************************************
# PHYSICAL CLIMATE CALIBRATION
# *******************************************************************
# temp0 # as in Gibbs et al., 2015
go_10=10.0
# temp1
go_11=10.0
# rel
go_12=0.9000000
# scl_tau / SclTau
go_13=1.531013488769531300
# ocean diffusivites iso (or horiz) / OcnHorizDiff
go_14=1494.438354492187500000
# ocean diffusivites dia (or vert) / OcnVertDiff
go_15=0.000025363247914356
# inverse minimum drag in days / InvDrag
go_16=2.710164785385131800
# scl_tau (should be same as GOLDSTEIN's value) / SclTau
ea_11=1.531013488769531300
# atm. diff. amp. for T / AtmDiffAmpT
ea_12=5204945.000000000000000000
# atm. diff. amp. for q / AtmDiffAmpQ
ea_13=1173269.250000000000000000
# dist'n width / AtmDiffWidthT
ea_14=1.410347938537597700
# dist'n slope / AtmDiffSlopeT
ea_15=0.090003050863742828
# atm. advection factor for T_z / AtmAdvectCoeffTm
ea_16=0.001037851092405617
# atm. advection factor for T_m / AtmAdvectCoeffQm
ea_17=0.0000000E+00
# atm. advection factor for q_z / AtmAdvectCoeffQz
ea_18=0.164652019739151000
# atm. advection factor for q_m / AtmAdvectCoeffQz
ea_19=0.164652019739151000
# SclFWF
ea_28=0.0
# sea-ice eddy diffusivity / SeaiceDiff
gs_11=3573.718017578125000000
# solar constant reduced by 0.46% for end Paleocene
ma_genie_solar_constant=1361.7
# adjusted planetary albedo
ea_albedop_offs=0.200
ea_albedop_amp=0.260
ea_albedop_skew=0.0
ea_albedop_skewp=0
ea_albedop_mod2=-0.000
ea_albedop_mod4=0.000
ea_albedop_mod6=0.250
# minus 1 PSU
go_saln0=33.9
# set CO2-climate feedback
ea_36=y

# *******************************************************************

# *******************************************************************
# USER-APPENDED OPTIONS FOLLOW ...
# *******************************************************************
# set seasonal cycle
ea_dosc=.true.
go_dosc=.true.
gs_dosc=.true.
EXPID=bio_adGib.closed_PrecEff_hP_01
ma_genie_timestep=131490.00000000000000000000
ma_ksic_loop=5
ma_kocn_loop=5
ma_klnd_loop=5
ma_conv_kocn_kecogem=2
ma_conv_kocn_katchem=2
ma_conv_kocn_kbiogem=2
ma_conv_kocn_ksedgem=48
ma_conv_kocn_krokgem=2
ma_kgemlite=48
bg_par_misc_t_runtime=50000
sg_par_misc_t_runtime=50000
ma_koverall_total=12000000
ma_dt_write=12000000
ea_3=2400000
go_3=2400000
gs_3=2400000
ents_3=2400000
ea_4=2400000
go_4=2400000
gs_4=2400000
ents_4=2400000
ea_5=2400001
go_5=2400001
gs_5=2400001
ents_5=2400001
ea_6=2400001
go_6=2400001
gs_6=2400001
ents_6=2400001
ea_9=48
go_9=48
gs_9=48
ea_31=n
go_19=n
gs_14=n
ea_32=y
go_20=y
gs_15=y
ea_29=rst
go_17=rst
gs_12=rst
ents_17=rst
ents_24=rst.sland
ea_7=n
go_7=n
gs_7=n
ents_7=n
ac_ctrl_continuing=f
bg_ctrl_continuing=f
sg_ctrl_continuing=f
rg_ctrl_continuing=f
eg_ctrl_continuing=f
ac_ctrl_ncrst=.true.
bg_ctrl_ncrst=.true.
sg_ctrl_ncrst=.true.
eg_ctrl_ncrst=.true.
bg_ctrl_force_oldformat=.false.
#
#
# --- CLIMATE ---------------------------------------------------------
#
# solar constant
# NOTE: modern S0 is 1368 W m-2
ma_genie_solar_constant=1368.0
# set climate feedback
ea_36=y
#
# --- BIOLOGICAL NEW PRODUCTION --------------------------------
#
# maximum rate of conversion of dissolved PO4 into organic matter by phytoplankton (mol kg-1 yr-1)
bg_par_bio_k0_PO4=1.9582242E-06
#[PO4] M-M half-sat value (mol kg-1)
bg_par_bio_c0_PO4=2.1989611E-07
#
# --- ORGANIC MATTER EXPORT RATIOS -----------------------------
#
#production fraction of dissolved organic matter
bg_par_bio_red_DOMfrac=0.66
#
# --- INORGANIC MATTER EXPORT RATIOS ---------------------------
#
# underlying export CaCO3 as a proportion of particulate organic matter (i.e., CaCO3/POC)
bg_par_bio_red_POC_CaCO3=0.044372
# exponent for modifier of CaCO3:POC export ratio
bg_par_bio_red_POC_CaCO3_pP=0.8053406
#
# --- REMINERALIZATION -----------------------------------------
#
#DOC lifetime (yrs)
bg_par_bio_remin_DOMlifetime=0.5
#initial fractional abundance of POC component #2
bg_par_bio_remin_POC_frac2=6.4591110E-02
# depth of remineralization or particulate organic matter
bg_par_bio_remin_POC_eL1=550.5195
#remineralization length #2 for POC
bg_par_bio_remin_POC_eL2=1000000.0
#initial fractional abundance of CaCO3 component #2
bg_par_bio_remin_CaCO3_frac2=0.4325
# depth of remineralization or CaCO3
bg_par_bio_remin_CaCO3_eL1=1083.486
#remineralization length #2 for CaCO3
bg_par_bio_remin_CaCO3_eL2=1000000.0
#
# --- DATA SAVING ----------------------------------------------
#
# date saving & reporting options
bg_par_data_save_level=9
bg_par_data_save_slice_n=6
bg_ctrl_debug_lvl0=.true.
ma_debug_loop=0
# save frequency
bg_par_infile_sig_name='save_timeseries_EVERY000100.dat'
# representative NH latitude and season to sample orbital variation of insolation
bg_par_t_sig_count_N=10
bg_par_sig_j_N=17
# SH latitude/season
bg_par_t_sig_count_S=10
bg_par_sig_j_S=2
#
# --- FORCINGS --------------------------------------------------------
#
# specify forcings
bg_par_forcing_name="pyyyyz.RpCO2_Rp13CO2"
bg_par_atm_force_scale_val_3=278.0E-06
ac_atm_init_3=278.0E-06
bg_par_atm_force_scale_val_4=-6.5
# use internal wind-speed
bg_ctrl_force_windspeed=.false.
#re-scale gas transfer coeff to give ~0.058 mol m-2 yr-1 uatm-1 global mean air-sea coefficient (original: 0.310)
bg_par_gastransfer_a=0.715813093980993
# ORBITS!!!
# Call orbit_radfor
ea_38="y"
# Specify the type of orbital forcing default (0), time-varying (1),
alternative config (2)
ea_39=2
# Number of data points in orbits file
ea_40=1
# Interval between data points in goldstein time steps
ea_41=48000
# filename for orbital parameters (must be in genie-embm/data/input)
ea_42="PrecEff_hP.dat"
#
# --- END ------------------------------------------------------
#
ea_debug_init=.true.
ea_debug_loop=.true.