# *******************************************************************
# CONFIGURATION TEMPLATE (EMBM + GOLDSTEIN + GOLDSTEIN SEA-ICE + ATCHEM + BIOGEM)
# *******************************************************************

# *******************************************************************
# GENIE COMPONENT SELECTION
# *******************************************************************
ma_flag_ebatmos=.TRUE.
ma_flag_goldsteinocean=.TRUE.
ma_flag_goldsteinseaice=.TRUE.
ma_flag_atchem=.TRUE.
ma_flag_biogem=.TRUE.
# *******************************************************************

# *******************************************************************
# GRID CONFIGURATION
# *******************************************************************
# Set ATCHEM grid the same as GOLDSTEIN grid (but one vertical level)
GENIENXOPTS='-DGENIENX=18'
GENIENYOPTS='-DGENIENY=18'
GENIENLOPTS='-DGENIENL=1'
# Grid resolution
GENIENXOPTS='$(DEFINE)GENIENX=18'
GENIENYOPTS='$(DEFINE)GENIENY=18'
GOLDSTEINNLONSOPTS='$(DEFINE)GOLDSTEINNLONS=18'
GOLDSTEINNLATSOPTS='$(DEFINE)GOLDSTEINNLATS=18'
GOLDSTEINNLEVSOPTS='$(DEFINE)GOLDSTEINNLEVS=8'
# Specify the observational data and topography: EMBM
ea_topo='_rwlla'
ea_taux_u="_rwlla_taux_u.interp"
ea_tauy_u="_rwlla_tauy_u.interp"
ea_taux_v="_rwlla_taux_v.interp"
ea_tauy_v="_rwlla_tauy_v.interp"
ea_adv_u="_rwlla_u.silo"
ea_adv_v="_rwlla_v.silo"
# Specify the observational data and topography: GOLDSTEIN
go_topo='_rwlla'
# Specify the observational data and topography: GOLDSTEIN sea-ice
gs_topo='_rwlla'
#assumed longitudinal offset of the grid
gm_par_grid_lon_offset=-180.0
# *******************************************************************

# *******************************************************************
# TRACER CONFIGURATION
# *******************************************************************
# Set number of tracers
GOLDSTEINNTRACSOPTS='$(DEFINE)GOLDSTEINNTRACS=14'
# Set selected tracers
gm_atm_select_3=.true.
gm_atm_select_4=.true.
gm_atm_select_6=.true.
gm_atm_select_16=.true.
gm_ocn_select_3=.true.
gm_ocn_select_4=.true.
gm_ocn_select_8=.true.
gm_ocn_select_10=.true.
gm_ocn_select_12=.true.
gm_ocn_select_15=.true.
gm_ocn_select_16=.true.
gm_ocn_select_20=.true.
gm_ocn_select_35=.true.
gm_ocn_select_38=.true.
gm_ocn_select_40=.true.
gm_ocn_select_50=.true.
gm_sed_select_3=.true.
gm_sed_select_4=.true.
gm_sed_select_8=.true.
gm_sed_select_14=.true.
gm_sed_select_15=.true.
gm_sed_select_22=.true.
gm_sed_select_32=.true.
gm_sed_select_33=.true.
gm_sed_select_34=.true.
gm_sed_select_36=.true.
# Set tracer initial values
ac_atm_init_3=278.0E-06
ac_atm_init_4=-6.5
ac_atm_init_6=0.2095
bg_ocn_init_3=2.244E-03
bg_ocn_init_4=0.4
bg_ocn_init_8=2.159E-06
bg_ocn_init_10=1.696E-04
bg_ocn_init_12=2.363E-03
bg_ocn_init_35=1.025E-02
bg_ocn_init_38=1.500E-02
bg_ocn_init_40=0.0
bg_ocn_init_50=5.282E-02
# *******************************************************************

# *******************************************************************
# PHYSICAL CLIMATE CALIBRATION
# *******************************************************************
# basic climate model parameters as per Cao et al. [2009] ::
# rel
go_12=0.9000000
# scl_tau / SclTau
go_13=1.531013488769531300
# ocean diffusivites iso (or horiz) / OcnHorizDiff
go_14=1494.438354492187500000
# ocean diffusivites dia (or vert) / OcnVertDiff
go_15=0.000025363247914356
# inverse minimum drag in days / InvDrag
go_16=2.710164785385131800
# scl_tau (should be same as GOLDSTEIN's value) / SclTau
ea_11=1.531013488769531300
# atm. diff. amp. for T / AtmDiffAmpT
ea_12=5204945.000000000000000000
# atm. diff. amp. for q / AtmDiffAmpQ
ea_13=1173269.250000000000000000
# dist'n width / AtmDiffWidthT
ea_14=1.410347938537597700
# dist'n slope / AtmDiffSlopeT
ea_15=0.090003050863742828
# atm. advection factor for T_z / AtmAdvectCoeffTm
ea_16=0.001037851092405617
# atm. advection factor for T_m / AtmAdvectCoeffQm
ea_17=0.0000000E+00
# atm. advection factor for q_z / AtmAdvectCoeffQz
ea_18=0.164652019739151000
# atm. advection factor for q_m / AtmAdvectCoeffQz
ea_19=0.164652019739151000
# adjusted climate model parameters ::
# temp0
go_10=5.0
# temp1
go_11=5.0
# extra1a
ea_25=0.0
# extra1b
ea_26=0.0
# extra1c
ea_27=0.0
# minus 1 PSU for an ice-free world
go_saln0=33.9
# sea-ice eddy diffusivity
gs_11=1000.000
# fractional sea-ce coverage threshold for preventing advection
gs_par_sica_thresh=0.9
# set seasonal cycle
ea_dosc=.true.
go_dosc=.true.
gs_dosc=.true.
# *******************************************************************

# *******************************************************************
# USER-APPENDED OPTIONS FOLLOW ...
# *******************************************************************
EXPID=EXAMPLE._rwlla.abio_orbits2
ma_genie_timestep=131490.00000000000000000000
ma_ksic_loop=5
ma_kocn_loop=5
ma_klnd_loop=5
ma_conv_kocn_kecogem=2
ma_conv_kocn_katchem=2
ma_conv_kocn_kbiogem=2
ma_conv_kocn_ksedgem=48
ma_conv_kocn_krokgem=2
ma_kgemlite=48
bg_par_misc_t_runtime=500000
sg_par_misc_t_runtime=500000
ma_koverall_total=120000000
ma_dt_write=120000000
ea_3=24000000
go_3=24000000
gs_3=24000000
ents_3=24000000
ea_4=24000000
go_4=24000000
gs_4=24000000
ents_4=24000000
ea_5=24000001
go_5=24000001
gs_5=24000001
ents_5=24000001
ea_6=24000001
go_6=24000001
gs_6=24000001
ents_6=24000001
ea_9=48
go_9=48
gs_9=48
ea_31=n
go_19=n
gs_14=n
ea_32=y
go_20=y
gs_15=y
ea_29=rst
go_17=rst
gs_12=rst
ents_17=rst
ents_24=rst.sland
ea_7=n
go_7=n
gs_7=n
ents_7=n
ac_ctrl_continuing=f
bg_ctrl_continuing=f
sg_ctrl_continuing=f
rg_ctrl_continuing=f
eg_ctrl_continuing=f
ac_ctrl_ncrst=.true.
bg_ctrl_ncrst=.true.
sg_ctrl_ncrst=.true.
eg_ctrl_ncrst=.true.
bg_ctrl_force_oldformat=.false.
#
#
# --- CLIMATE ---------------------------------------------------------
#
# solar constant
# NOTE: modern S0 is 1368 W m-2
#       for a ca. 720 Ma time-interval (Sturtian onset), S0 will be 1286.9
#       for a ca. 635 Ma time-interval (Marinoan onset), S0 will be 1295.4
ma_genie_solar_constant=1295.4
# scaling for atmospheric CO2 radiative forcing, relative to 278 ppm
ea_radfor_scl_co2=10.0
#
# --- BIOLOGICAL NEW PRODUCTION ---------------------------------------
#
# No biology
bg_par_bio_prodopt='NONE'
#
# --- ORGANIC MATTER EXPORT RATIOS ------------------------------------
#
#
# --- INORGANIC MATTER EXPORT RATIOS ----------------------------------
#
#
# --- REMINERALIZATION ------------------------------------------------
#
#
# --- TRACE METALS ----------------------------------------------------
#
#
# --- SEDIMENTS -------------------------------------------------------
#
#
# --- WEATHERING ------------------------------------------------------
#
#
# --- DATA SAVING -----------------------------------------------------
#
# date saving & reporting options
bg_par_data_save_level=9
bg_ctrl_debug_lvl0=.true.
ma_debug_loop=0
# save frequency
bg_par_infile_sig_name='save_timeseries_EVERY000100.dat'
# representative NH latitude and season to sample orbital variation of insolation
bg_par_t_sig_count_N=12
bg_par_sig_j_N=17
# SH latitude/season
bg_par_t_sig_count_S=12
bg_par_sig_j_S=2
#
# --- FORCINGS --------------------------------------------------------
#
# use internal wind-speed
bg_ctrl_force_windspeed=.false.
# add a geothermal heat flux (W m-2)
bg_ctrl_force_GOLDSTEInTS=.TRUE.
bg_par_Fgeothermal=100.0E-3
# ORBITS!!!
# Call orbit_radfor
ea_38="y"
# Specify the type of orbital forcing default (0), time-varying (1),
alternative config (2)
ea_39=1
# Number of data points in orbits file
ea_40=1001
# Interval between data points in goldstein time steps
ea_41=48000
# filename for orbital parameters (must be in genie-embm/data/input)
ea_42="orbits_La2004_1Myr.dat"
#

# --- Orbit-friendly saving
bg_par_infile_orb_pts_loc_name = "orb_pts_loc.dat"
bg_par_infile_orb_pts_var_name = "orb_pts_var.dat" # Location of the variable file list
bg_n_orb_pts_nmax = 10000 # default
ma_conv_kocn_korb = 24001 # frequency of data saving 
 # 2 samples ocean timesteips at each BIOGEM time-step (48 per year) for 16 level ocean
 # 96 samples once per year for 16 level ocean
 
# --- MISC ------------------------------------------------------------
#
go_debug_init=.true.
#
# --- END ------------------------------------------------------
#
